
<%= render 'shared/navbar'%>
<div class="landing-banner-main">

  <img class="logo" src="<%= asset_path('icon-256.png') %>">

  <div class="banner-text-box">
    <h3 class="mb-5">Explore around you,<br>with WingIt</h3>
    <%= link_to "LET'S EXPLORE", map_path, class: "btn-explore"  %>

    <div class="banner-map-icon">
      <%= image_tag("banner-map.jpg",:alt => "banner-map image") %>
      <i class="fas fa-map-marker-alt bounce ocation-icon"></i>
    </div>
  </div>


</div>

<section class="section-features" id="features">
  <div class="section-features-inner">
    <div class="row flex-column justify-content-between">
        <div class="mb-5">
            <i class="fab fa-wpexplorer icon-big"></i>
            <h3 style="font-weight: 600; font-size: 32px;">Explore</h3>
            <p style="font-weight: 300">Explore cool things nearby</p>
        </div>
        <div class="mb-5">
            <i class="fas fa-users icon-big"></i>
            <h3 style="font-weight: 600; font-size: 32px;">Share</h3>
            <p style="font-weight: 300;">Share your experiences with other</p>
        </div>
        <div class="mb-4">
            <i class="fab fa-connectdevelop icon-big"></i>
            <h3 style="font-weight: 600; font-size: 32px;">Connect</h3>
            <p style="font-weight: 300;">Interact with other people</p>
        </div>
      </div>
    </div>
</section>

<section class="section-discover">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80)">
    Discover Food
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80)">
    Discover Nature
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1565791380745-35e40266d760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=941&q=80)">
    Discover Hidden Gems
  </div>

</section>

<section class="section-signup">
  <div class="banner-text-box-signup">
    <h3 class="mb-2">Start discovering</h3>
    <img src="https://cdn.dribbble.com/users/1747793/screenshots/4328938/web-loop.gif">
    <%= link_to "LET'S EXPLORE", map_path, class: "btn-explore-btm"  %>
  </div>
</section>

<section class="section-footer">
  <p class="pt-4">&copy; 2019 by Wingit. All rights reserved.</p>
</section>













