<%= render 'shared/navbar' %>
<div class="dashboard">

  <div class="dashboard-nav">
      <%= cl_image_tag current_user.photo, height: 50, width: 50, crop: :fill %>
      <h3><%= current_user.username.capitalize %></h3>
  </div>
  <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab-md" data-toggle="tab" href="#home-md" role="tab" aria-controls="home-md"aria-selected="true">Posts</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md" aria-selected="false">Bookmarks</a>
    </li>
  </ul>


  <div class="tab-content card p-4" id="myTabContentMD">

    <div class="tab-pane fade show active" id="home-md" role="tabpanel" aria-labelledby="home-tab-md">
      <% current_user.posts.each do |post| %>
      <div class="card-trip mb-4">
        <img src=" <%= cl_image_path post.photo, crop: :fill %>" alt="post-image">
        <div class="card-trip-infos">
          <div>
            <h2><%= post.content %></h2>
            <p class="mb-4"><%= post.created_at.strftime("posted on: %m/%d/%Y")%></p>
            <p><%= link_to "See post", post_path(post) %></p>
          </div>
          <h2 class="card-trip-pricing"><i class="fas fa-thumbs-up" style="color: black;"></i> <%= post.get_upvotes.size %></h2>
        </div>
      </div>
      <% end %>
    </div>

    <div class="tab-pane fade active" id="profile-md" role="tabpanel" aria-labelledby="profile-tab-md">
      <% current_user.bookmarks.each do |bookmark| %>
      <div class="card-trip mb-4">
        <img src="<%= cl_image_path bookmark.post.photo, crop: :fill %>" alt="post-image">
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.post.user.username %></h2>
            <p><%= bookmark.post.content %></p>
            <p class="mb-4"><%= bookmark.post.created_at.strftime("Posted on: %m/%d/%Y") %></p>
            <p><%= link_to "See post", post_path(bookmark.post) %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>


































