<%= render 'shared/navbar' %>

  <div class = "dash-avatar mt-16">
    <div class ="photo mt-16">
            <%= cl_image_tag current_user.photo, height: 50, width: 50, crop: :fill %>
          <h2><%= current_user.username.capitalize %></h2>

         <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">



            <li class="nav-item">
              <a class="nav-link" id="home-tab-md" data-toggle="tab" href="#home-md" role="tab" aria-controls="home-md"
              aria-selected="true">Posts</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
              aria-selected="false">Bookmarks</a>
            </li>
          </ul>
      </div>
     <div class="tab-content card" id="myTabContentMD">
        <div class="tab-pane fade show active" id="home-md" role="tabpanel" aria-labelledby="home-tab-md">
          <div class ="dash-wrap">
            <% current_user.posts.each do |post| %>
             <div class="card-product"style="background-image: url(<%= cl_image_path post.photo,   crop: :fill %>);">
             <div class ="info">
               <h2><%= link_to "Check out post", post_path(post) %></h2>
             <!-- <p><%= post.content %></p> -->
             <p><%= post.created_at.strftime("Posted on: %m/%d/%Y")%></p>
               <p>Upvotes: <%= post.get_upvotes.size %></p>
               <%#= link_to "Check out post", post_path(post) %>
             </div>

            </div>
           <% end %>
     </div>
  </div>
    <div class="tab-pane fade active" id="profile-md" role="tabpanel" aria-labelledby="profile-tab-md">
        <div class = "dash-wrap">
          <% current_user.bookmarks.each do |bookmark| %>
            <div class ="card-product" style="background-image: url(<%= cl_image_path bookmark.post.photo,   crop: :fill %>);">
            <div class = "info">
              <h2><%= link_to "Check out post", post_path(bookmark.post) %></h2>
                <h2>By <%= bookmark.post.user.username %></h2>
                  <!-- <p><%= bookmark.post.content %></p> -->
                  <p>Posted: <%= bookmark.post.created_at.strftime("Posted on: %m/%d/%Y") %></p>
                </div>
                </div>
              <% end %>
          </div>
      </div>
  </div>

</div>

































