<!-- <div class="p-3 post-form-card js-create-post-form" style="border-radius: 15px; position: relative; background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1475688621402-4257c812d6db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3367&q=80'); background-size: cover; margin: auto;"> -->
<div class="js-create-post-form create-post-form">
  <%= simple_form_for post, remote: true do |f| %>
    <%= f.input :latitude, input_html: {class: "js-create-post-lat"}, wrapper_html: { class: 'd-none'}, as: :hidden %>
    <%= f.input :longitude, input_html: {class: "js-create-post-lon"}, wrapper_html: { class: 'd-none'}, as: :hidden %>

    <div class="create-post-form-step-image">
      <img class="js-post-form-upload-preview create-post-form-preview d-none" />
      <%= f.input :photo, input_html: { class: "js-post-form-image-field" }, label_html: { class: 'create-post-form-upload-button' }, wrapper_html: { class: 'js-post-form-image-wrapper mb-0'}, label: "UPLOAD PHOTO" %>
      <input type="file" accept="image/*" id="capture" capture="camera">
      <%= f.input :photo_cache, as: :hidden, wrapper_html: { class: 'd-none' } %>
    </div>
    <div class="create-post-form-step-content">
      <%= f.input :content, id:"make-post-content-text", label: false, placeholder: 'Write somethin\'...' %>
      <%= f.submit "Post", class: "btn-make-post js-create-post-button" %>
    </div>

    <div class="js-create-post-actions d-none">
      <div class="js-create-post-loading" style="color: white;"><span class="fa fa-spinner fa-spin"></span> Getting your location...</div>
      <!-- <div class="js-location-message"></div> -->
    </div>
  <% end %>
</div>
