<%= render 'shared/navbar' %>
<div class="container animate-container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 ">
      <div class="card p-3" style="border-radius: 15px; position: relative; background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1475688621402-4257c812d6db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3367&q=80'); background-size: cover; margin: auto;">
          <div class="inner">
            <div class="btn-div">
              <%= link_to map_path do %>
                <%= raw '<i class="far fa-times-circle btn-exit"></i>' %>
              <% end %>
            </div>
            <%= simple_form_for @post do |f| %>
              <%= f.input :content, id:"make-post-content-text",label_html: {style:"color: white; display: none;", class:"mt-5 mx-0"}, input_html: { style:" margin-top: 10vh; border: 1px solid white; width: 100%;", placeholder:"Make a post"} %>
              <%= f.input :photo, label_html: {class:"custom-file-upload"} %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.input :latitude, input_html: {class: "js-lat"}, as: :hidden %>
              <%= f.input :longitude, input_html: {class: "js-lon"}, as: :hidden %>
              <!-- <input type="text" class="js-lat" /> -->
              <!-- <input type="text" class="js-lon" /> -->

              <div class="js-create-post-actions">
                <%= f.submit "Make Post", class: "btn-make-post js-create-post-button d-none" %>
                <div class="js-create-post-loading" style="color: white;"><span class="fa fa-spinner fa-spin"></span> Please wait while we get your location...</div>
                <!-- <div class="js-location-message"></div> -->
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
