<div class="container">
<%= cl_image_tag @post.photo, height: 30, width: 30, crop: :fill %>
<p class="text"><%= @post.content %></p>
<p>Posted by: <%= @post.user.username %></p>
<p>Posted: <strong><%= distance_of_time_in_words(Time.current - @post.created_at) %> ago</strong></p>
<br>
<%= link_to 'Keep Exploring!', map_path  %>
</div>
