<%= render 'shared/navbar' %>

<br>
<!-- Comments -->
  <div id="comments">
    <% if @post.comments.blank? %>
      <%= render 'comments/form', post: @post, comment: @comment %>
    <% else %>
      <% @post.comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
      <% end %>
    <% end %>
  </div> <!-- comments -->

<%= render 'comments/form', post: @post, comment: @comment %>


  <!-- Bookmark button -->

  <%= link_to "See your dashboard", dashboard_path(current_user) %>
  <%= link_to 'Keep Exploring!', map_path  %>

<div class="card-large" style="position: relative;">
  <a href class="clickable js-post-link"></a>
  <%= cl_image_tag @post.photo, height: 350, width: 350, crop: :fill %>
  <div class="card-large-infos">
    <div>
      <div class="icon-large-card">

        <div class="icon-large-card-container">
        <!-- upvote icon -->
          <div>
            <%= link_to like_post_path(@post), class:"like-btn", method: :put, remote: :true do %>
              <i class="fas fa-thumbs-up"> <span class="like-count" style="color: white; font-family: Roboto; font-weight: normal;"><%= @post.get_upvotes.size %></span></i>
            <% end %>
          </div>

          <!-- upvote -->

          <div>
            <%= link_to post_comments_path(@post), remote: true do %>
              <i class="far fa-comment ml-2"></i>
            <% end %>
          </div>
          <div>
            <%= link_to post_path(@post), remote: true do %>
              <i class="fa fa-info ml-2"></i>
            <% end %>
          </div>

          <div class="i-bookmark"><%= link_to bookmarks_update_path(post: @post), id:"btn-bookmark", remote: :true do %>
            <%= raw bookmark_text %> <!-- to allow for HTML injections -->
          <% end %>
          </div>

        </div>

      <h2 class="js-username"><%= @post.user.username %></h2>
<%= render 'comments/form', post: @post, comment: @comment %>
      <div class="i-time"><i class="far fa-clock"></i>
        <%= distance_of_time_in_words(Time.current - @post.created_at)%> ago
      </div>
    </div>

      </div>


    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-large-user avatar-bordered js-user-avatar" />
  </div>
</div>



